{% extends "encyclopedia/layout.html" %}

{% block title %}
Create New Page
{% endblock %}

{% block body %}
<h1>Create New Page</h1>
<form style="width:40%" action="{% url 'newpage' %}" method="POST">
    {%csrf_token%}
    {{ form.title.errors }}
    {{ form.title.label_tag }}
    <br>
    {{ form.title }}
    <br>
    {{ form.content.errors }}
    {{ form.content.label_tag }}
    <br>
    {{ form.content }}
    <br>

    <input class="btn btn-primary" type="submit" value="Save">
</form>
{% endblock %}